<!--
 * @Author: zcxyUBC zcxy0218@gmail.com
 * @Date: 2024-03-27 10:37:31
 * @LastEditors: zcxyUBC zcxy0218@gmail.com
 * @LastEditTime: 2024-03-27 12:58:39
 * @FilePath: /zcxyUBC/_includes/header.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">
      <i class="fa fa-bars"></i>
    </a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="{{ site.baseurl }}/" class="logo"><strong>Home</strong></a>
        <li class="nav-link"><a href="https://zcxyubc.github.io/zcxyUBC/research"><strong>Research</strong></a>
        <li class="nav-link"><a href="https://zcxyubc.github.io/zcxyUBC/gallery"><strong>Gallery</strong></a>
        <li class="nav-link"><a href="https://zcxyubc.github.io/zcxyUBC/about"><strong>About Me</strong></a>
      </ul>
    </nav>
  </div>
</header>